body,
html {
  margin: 0;
  padding: 0;
}

.window {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.window-content {
  background-color: #333;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-header {
  width: 100%;
  height: 24px;
  padding: 4px;
  color: white;
  background-color: #222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-app-region: drag;
}

.window-header-buttons {
  display: flex;
  flex-direction: row;
  padding-right: 8px;
  -webkit-app-region: no-drag;
}

.builder-window {
  background-color: #444;
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.layer .builder-window {
  flex-direction: column;
}

.armor-list,
.skill-list,
.stat-display {
  background-color: #555;
  height: 100%;
  flex: 0.35;
}

.skill-list {
  background-color: #444;
  padding: 4px;
  box-sizing: border-box;
}

.stat-display {
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.skill {
  padding: 8px;
  background-color: #333;
  margin-top: 4px;
}

.skill span span {
  user-select: none;
}

.armor-piece {
  background-color: #333;
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin-top: 4px;
  cursor: pointer;
}

.armor-content {
  margin-left: 4px;
  user-select: none;
}

.armor-icon {
  width: 32px;
  height: 32px;
  background-color: #111;
}

.layer {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
